* {
  padding: 0;
  margin: 0;
  border: 0;
}

.wrapper {
  height: 100%;
}

.head {
  min-height: 75px;
  max-width: 1200px;
}

.container {
  width: 100%;
  padding: 10px 15px;
  margin: 0 auto;
}

.container__title {
  font-size: 24px;
  line-height: 30px;
}

.container__text {
  font-size: 18px;
  line-height: 20px;
}
