@import "_head";

.wrapper {
   height: 100%;
}
.head {
   min-height: 75px;
   max-width: 1200px;
}
.container {
   width: 100%;
   padding: 10px 15px;
   margin: 0 auto;

		&__title {
         font-size: 24px;
         line-height: 30px;
		}

		&__text {
         font-size: 18px;
         line-height: 20px;
		}
}
